<%- include("header") -%>
    <h1 style="text-align: center;">Add Extension</h1>

    <form class="AddExtension-page" action="/AddExtension/Extension" style="text-align: center;">
        <div>
            <label for="home-rent" style="display: inline-block; width: 100px;">Home Rent:</label>
            <input type="text" style="margin-left: 10px;">
        </div>
        <div style="margin-top: 10px;">
            <label for="light-tax" style="display: inline-block; width: 100px;">Light Tax:</label>
            <input type="text" style="margin-left: 10px;">
        </div>
        <div style="margin-top: 10px;">
            <label for="water-tax" style="display: inline-block; width: 100px;">Water Tax:</label>
            <input type="text" style="margin-left: 10px;">
        </div>
        <div style="margin-top: 15px;">
            <button class="button-extension" type="button">+ Add More</button>
        </div>
        <div style="margin-top: 20px;">
            <button class="button-extension" type="button">Submit</button>
            <button class="button-extension" type="button">Edit</button>
            <button class="button-extension" type="button">Show</button>
        </div>
    </form>